Repository ManageIQ/manageiq-v2v, pull requests merged in 2018-12, with the labels that each got.

#815 Rename "Overview" page to "Migration Plans" and change /overview route to /plans
  app/controllers/migration_controller.rb
  app/javascript/react/config/config.js
  app/javascript/react/screens/App/Mappings/Mappings.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardResultsStep/MappingWizardResultsStep.js
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardResultsStep/PlanWizardResultsStep.js
  app/javascript/react/screens/App/Plan/Plan.js
  config/routes.rb
  lib/manageiq/v2v/engine.rb
Labels: hammer/yes, v1.1

#813 [#808][#809] Remove unreliable links to product documentation
  app/javascript/react/screens/App/Overview/components/Migrations/MigrationsInProgressCard.js
  app/javascript/react/screens/App/Plan/Plan.js
  app/javascript/react/screens/App/Plan/PlanConstants.js
  app/javascript/react/screens/App/Settings/Settings.js
Labels: bug, hammer/yes, v1.1

#812 [#690] Add warning to mapping wizard when no OSP conversion hosts are present
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStep.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStepActions.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStepConstants.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStepSelectors.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/MappingWizardClustersStepSelectors.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/__snapshots__/index.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/components/ClustersStepForm/ClustersStepForm.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/index.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/MappingWizardGeneralStep.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/MappingWizardGeneralStepActions.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/MappingWizardGeneralStepConstants.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/MappingWizardGeneralStepReducer.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/__tests__/MappingWizardGeneralStepActions.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/__tests__/MappingWizardGeneralStepReducer.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/__tests__/__snapshots__/MappingWizardGeneralStepActions.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/__tests__/__snapshots__/MappingWizardGeneralStepReducer.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/index.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/mappingWizardGeneralStep.fixtures.js
Labels: enhancement, hammer/yes, v1.1

#816 Replace broken axios API mock adapter, fix broken tests
  .jest-setup.js
  app/javascript/common/mockRequests.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/MappingWizardClusterStepActions.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/__snapshots__/MappingWizardClusterStepActions.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardGeneralStep/__tests__/MappingWizardGeneralStepActions.test.js
  app/javascript/react/screens/App/Overview/__test__/OverviewActions.test.js
  app/javascript/react/screens/App/Overview/__test__/__snapshots__/OverviewActions.test.js.snap
  app/javascript/react/screens/App/Plan/__test__/PlanActions.test.js
  app/javascript/react/screens/App/Plan/__test__/__snapshots__/PlanActions.test.js.snap
Labels: hammer/yes, test

#817 Add unit tests for Settings page components, actions and reducers
  .eslintrc.js
  .jest-setup.js
  app/javascript/common/mockRequests.js
  app/javascript/components/dates/IsoDate.test.js
  app/javascript/components/dates/LongDateTime.test.js
  app/javascript/components/dates/RelativeDateTime.test.js
  app/javascript/components/dates/ShortDateTime.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/__tests__/MappingWizard.test.js
  app/javascript/react/screens/App/Settings/Settings.js
  app/javascript/react/screens/App/Settings/__tests__/Settings.test.js
  app/javascript/react/screens/App/Settings/__tests__/SettingsActions.test.js
  app/javascript/react/screens/App/Settings/__tests__/SettingsReducer.test.js
  app/javascript/react/screens/App/Settings/__tests__/__snapshots__/Settings.test.js.snap
  app/javascript/react/screens/App/Settings/__tests__/__snapshots__/SettingsActions.test.js.snap
  app/javascript/react/screens/App/Settings/__tests__/__snapshots__/SettingsReducer.test.js.snap
  app/javascript/react/screens/App/Settings/settings.fixures.js
  app/javascript/react/screens/App/common/NotificationList/__test__/NotificationList.test.js
  package.json
Labels: hammer/yes, test

#818 Settings: enforce a minimum of 1 migration per conversion host
  app/javascript/react/screens/App/Settings/Settings.js
  app/javascript/react/screens/App/common/forms/NumberInput.js
Labels: bug, hammer/yes, v1.1

#819 Add tests for mapping wizard
  .jest-setup.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/__tests__/__snapshots__/helpers.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/__tests__/helpers.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStep.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStepConstants.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStepReducer.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/MappingWizardClusterStepActions.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/MappingWizardClustersStep.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/index.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/mappingWizardClustersStep.fixtures.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardDatastoresStep/__tests__/MappingWizardDatastoresStep.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardDatastoresStep/__tests__/MappingWizardDatastoresStepActions.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardDatastoresStep/__tests__/__snapshots__/MappingWizardDatastoresStepActions.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/MappingWizardNetworksStepReducer.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/__tests__/MappingWizardNetworksStep.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/__tests__/MappingWizardNetworksStepActions.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/__tests__/MappingWizardNetworksStepReducer.test.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/__tests__/__snapshots__/MappingWizardNetworksStepActions.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/__tests__/__snapshots__/MappingWizardNetworksStepReducer.test.js.snap
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardNetworksStep/mappingWizardNetworksStep.fixtures.js
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/mappingWizardTestHelpers.js
  app/javascript/react/screens/App/common/testReduxHelpers.js
Labels: hammer/yes, test, v1.1

#826 Add tests for resolving migration plan POST body from redux state
  app/javascript/react/screens/App/Overview/screens/PlanWizard/__tests__/__snapshots__/helpers.test.js.snap
  app/javascript/react/screens/App/Overview/screens/PlanWizard/__tests__/helpers.test.js
  app/javascript/react/screens/App/Overview/screens/PlanWizard/planWizard.fixtures.js
Labels: hammer/yes, test, v1.1

#828 Add tests for OSP VM power warnings in the Plan wizard
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardResultsStep/__tests__/PlanWizardResultsStep.test.js
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardResultsStep/__tests__/__snapshots__/PlanWizardResultsStep.test.js.snap
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardScheduleStep/PlanWizardScheduleStep.js
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardScheduleStep/__tests__/PlanWizardScheduleStep.test.js
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardScheduleStep/__tests__/__snapshots__/PlanWizardScheduleStep.test.js.snap
Labels: hammer/yes, test, v1.1

#829 Add tests for OSP conversion host warning in mapping wizard clusters step
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/__tests__/MappingWizardClustersStep.test.js
Labels: hammer/yes, test, v1.1

#827 Tests for enhanced error reporting
  app/javascript/react/screens/App/Overview/__test__/OverviewActions.test.js
  app/javascript/react/screens/App/Overview/__test__/OverviewSelectors.test.js
  app/javascript/react/screens/App/Overview/components/Migrations/__test__/MigrationsInProgressCard.test.js
  app/javascript/react/screens/App/Overview/components/Migrations/__test__/__snapshots__/MigrationsInProgressCard.test.js.snap
  app/javascript/react/screens/App/Overview/overview.transformationPlans.fixtures.js
Labels: hammer/yes, test, v1.1

#831 [#830] Remove passive voice in infra mapping conversion host warning
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/components/ClustersStepForm/ClustersStepForm.js
Labels: hammer/yes, v1.1

#832 Remove passive voice in OSP-specific conversion host warning
  app/javascript/react/screens/App/Mappings/screens/MappingWizard/components/MappingWizardClustersStep/MappingWizardClustersStep.js
Labels: hammer/yes, v1.1

#836 [#794] Cancel OSP plans started without RSA key
  app/javascript/data/models/provider.js
  app/javascript/react/screens/App/Mappings/Mappings.js
  app/javascript/react/screens/App/Mappings/MappingsActions.js
  app/javascript/react/screens/App/Mappings/MappingsConstants.js
  app/javascript/react/screens/App/Mappings/__test__/MappingsActions.test.js
  app/javascript/react/screens/App/Mappings/__test__/__snapshots__/MappingsActions.test.js.snap
  app/javascript/react/screens/App/Overview/Overview.js
  app/javascript/react/screens/App/Overview/OverviewActions.js
  app/javascript/react/screens/App/Overview/OverviewConstants.js
  app/javascript/react/screens/App/Overview/OverviewReducer.js
  app/javascript/react/screens/App/Overview/OverviewSelectors.js
  app/javascript/react/screens/App/Overview/__test__/Overview.test.js
  app/javascript/react/screens/App/Overview/__test__/OverviewSelectors.test.js
  app/javascript/react/screens/App/Overview/__test__/__snapshots__/Overview.test.js.snap
  app/javascript/react/screens/App/Overview/__test__/__snapshots__/index.test.js.snap
  app/javascript/react/screens/App/Overview/__test__/helpers.test.js
  app/javascript/react/screens/App/Overview/components/Migrations/MigrationsInProgressCard.js
  app/javascript/react/screens/App/Overview/components/Migrations/__test__/MigrationsInProgressCard.test.js
  app/javascript/react/screens/App/Overview/components/Migrations/__test__/__snapshots__/MigrationsInProgressCard.test.js.snap
  app/javascript/react/screens/App/Overview/helpers.js
  app/javascript/react/screens/App/Overview/index.js
Labels: enhancement, hammer/yes, v1.1

#834 Add tests for OverviewReducer
  app/javascript/react/screens/App/Overview/Overview.js
  app/javascript/react/screens/App/Overview/OverviewReducer.js
  app/javascript/react/screens/App/Overview/__test__/OverviewReducer.test.js
  app/javascript/react/screens/App/Overview/__test__/__snapshots__/OverviewReducer.test.js.snap
  app/javascript/react/screens/App/Overview/__test__/__snapshots__/index.test.js.snap
  app/javascript/react/screens/App/Overview/components/Migrations/Migrations.js
  app/javascript/react/screens/App/Overview/components/Migrations/MigrationsCompletedList.js
  app/javascript/react/screens/App/Overview/overview.planRequest.fixtures.js
  app/javascript/react/screens/App/Overview/overview.playbooks.fixtures.js
  app/javascript/react/screens/App/Overview/overview.providers.fixtures.js
  app/javascript/react/screens/App/Overview/overview.transformationMappings.fixtures.js
  app/javascript/react/screens/App/Overview/screens/PlanWizard/components/PlanWizardAdvancedOptionsStep/PlanWizardAdvancedOptionsStep.fixtures.js
Labels: test
